*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
    /* border: 1px solid red; */
}
.main-container{
    width: 100%;
    height: 350vh;
   background-color: #00250E; 
   

}
.navbar{
    width: 100%;
    height: auto;
    padding-block: 20px;
    /* background-color: rgb(148, 131, 131); */
    display: flex;
    align-items: center;
   background-color: #00240D;
   position: sticky;
   top: 0;
   
   
}
.image-section{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}
.list-section{
    width: 100%;

    
}
.list-section ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-size: 30px;
    font-weight: 700;
}
.list-section ul a{
    text-decoration: none;
    color: white;
}
.list-section ul :first-child a{
    color:  rgb(255, 187, 0);
}
.hero-section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.text-content{

     width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.text-content p{
    font-size: 14px;
    font-weight: 700;
    color: rgb(255, 187, 0);
}
.text-content h1{
    font-size: 100px;
    font-weight: 700;
    color: wheat;
    /* color: rgb(255, 187, 0); */
}
.text-content h1 :first-child {
    color: rgb(0, 179, 59);
    font: normal;
}
.text-content h1 :last-child {
    color: rgb(255, 187, 0);
    font: normal;
}
.text-content i{
    font-size: 40px;
    color: white;
    margin-right: 10px;
    
}
.text-content i a{
    text-decoration: none;
    color: white;
   
    
}

.text-content button{
   
    font-size: 30px;
    height: 60px;
    width: 30%;
    border-radius: 20px;
    background-color: rgb(59, 156, 59);
    color: white;
    margin-block: 10px;
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: center;

}
.text-content h6{
    font-size: 14px;
    font-weight: 700;
    color:  rgb(0, 179, 59);
}
.text-content h2{
    font-size: 55px;
    font-weight: 700;
    color: rgb(255, 187, 0);
}
.text-content span{
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-align: center;
}
.fixed-icons{
   
    position: fixed;
    right: 0;
    top: 300px;
    width: 50px;
  

    
}
/* .box{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    
   
} */
.box1{
    height: 50px;
    width: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #0E4791;
    border-radius: 10px 0px 0px 0px;
}
.box2{
    background-color: #3e799e;
    height: 50px;
    width: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.box3{
    background-color: #C10097;
    height: 50px;
    width: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.box4{
    background-color: #00D819;
    height: 50px;
    width: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.box5{
    background-color: #004FCE;
    border-radius: 0px 0px 0px 10px;
    font-size: 50px;
    height: 50px;
    width: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.card-section{
    width: 100%;
    height: auto;
    margin-block: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-block: 20px;
       
}
.card{
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-block: 20px;
    background-color: #003B15;
    border-radius: 20px;
}
.card img{
    width: 270px;
    border-radius: 30px;
    border: 1px solid orange;
    

}
.card h3{
    color: orange;
    font-size: 30px;
    margin-block: 10px;

}
.card p{
    color: white;
}

.card2{
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-block: 20px;
    background-color: #003B15;
    border-radius: 20px;
}
.card2 img{
   
    border-radius: 30px;
    width: 270px;
    border: 1px solid rgba(255, 72, 0, 0.808);

}
.card2 h3{
    color: orange;
    font-size: 30px;
    margin-block: 10px;

}
.card2 p{
    color: white;
}

.card3{
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-block: 20px;
    background-color: #003B15;
    border-radius: 20px;
}
.card3 img{
    width: 270px;
    border-radius: 30px;
    border: 1px solid rgb(111, 73, 202);

}
.card3 h3{
    color: orange;
    font-size: 30px;
    margin-block: 10px;

}
.card3 p{
    color: white;
}

.card4{
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-block: 20px;
    background-color: #003B15;
    border-radius: 20px;
}
.card4 img{
    width: 270px;
    border-radius: 30px;
    border: 1px solid rgb(25, 231, 42);

}
.card4 h3{
    color: orange;
    font-size: 30px;
    margin-block: 10px;

}
.card4 p{
    color: white;
}

.card-section-2{
    width: 100%;
    height: auto;
    margin-block: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-block: 20px;
    flex-wrap: wrap;
    
}
.card5{
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-block: 20px;
    background-color: #003B15;
    border-radius: 20px;
}
.card5 img{
    width: 600px;
    border-radius: 30px;
    border: 1px solid rgb(25, 231, 42);

}
.card5 h3{
    color: orange;
    font-size: 30px;
    margin-block: 10px;

}
.card5 p{
    color: white;
}
.card6{
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-block: 20px;
    background-color: #003B15;
    border-radius: 20px;
}
.card6 img{
    width: 600px;
    border-radius: 30px;
    border: 1px solid rgb(25, 231, 42);

}
.card6 h3{
    color: orange;
    font-size: 30px;
    margin-block: 10px;

}
.card6 p{
    color: white;
}


.card-section-3{
    width: 100%;
    height: auto;
    margin-block: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-block: 20px;

}
.card7{
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-block: 20px;
    background-color: #003B15;
    border-radius: 20px;
}
.card7 img{
    width: 270px;
    border-radius: 30px;
    border: 1px solid rgb(25, 231, 42);

}
.card7 h3{
    color: orange;
    font-size: 30px;
    margin-block: 10px;

}
.card7 p{
    color: white;
}
.card8{
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-block: 20px;
    background-color: #003B15;
    border-radius: 20px;
}
.card8 img{
    width: 270px;
    border-radius: 30px;
    border: 1px solid rgb(25, 231, 42);

}
.card8 h3{
    color: orange;
    font-size: 30px;
    margin-block: 10px;

}
.card8 p{
    color: white;
}
.card9{
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-block: 20px;
    background-color: #003B15;
    border-radius: 20px;
}
.card9 img{
    width: 270px;
    border-radius: 30px;
    border: 1px solid rgb(25, 231, 42);

}
.card9 h3{
    color: orange;
    font-size: 30px;
    margin-block: 10px;

}
.card9 p{
    color: white;
}
.card10{
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-block: 20px;
    background-color: #003B15;
    border-radius: 20px;
}
.card10 img{
    width: 270px;
    border-radius: 30px;
    border: 1px solid rgb(25, 231, 42);

}
.card10 h3{
    color: orange;
    font-size: 30px;
    margin-block: 10px;

}
.card10 p{
    color: white;
}

.footer-button{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-button button{
    width: 20%;
    height: 50px;
    border: 1px solid green;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    font-weight: 800;
    background-color: #18c92d;
    margin-top: 20px;
}










/* responsive */
 @media (max-width: 480px) {

    .main-container{
        width: 100%;
        height:auto;
    }

    .navbar{
        width: 100%;
        height: 70px;

    }
    .image-section{
        width: 100%;
    }
    .image-section img{
        width: 100px;
        align-items: center;
        display: flex;
        justify-content: center;
        
    }
    .list-section{
       
        display: none;
    }

    .hero-section{
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
    }
    .text-content h1{
        font-size: 30px;
        margin-top: 10px;
    }
    .text-content i{
        font-size: 20px;
        margin-top: 10px;
    }
    .text-content button{
        font-size: 18px;
        width: 200px;
        margin-top: 20px;
        border: 1px solid white;

   
    }
    .text-content button i{
     
        font-size: 25px;
        margin-bottom: 8px;
        margin-right: 5px;
    }
    .text-content h6{
        margin-top: 20px;
    }
    .text-content h2{
        text-align: center;
        font-size: 25px;
    }
    .text-content span{
        font-size: 15px;
    }
    .fixed-icons{
        margin: 0;
        padding: 0;
        /* right: 173px; */
    }
    .card-section{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        /* flex-wrap: wrap; */
        flex-direction: column;
        margin-block: 20px;
    }
    .card{
        width:80%;
        height: auto;
  
        
    }
    .card2{
        width:80%;
        height: auto;
        margin-top: 20px
    }
    .card3{
        width:80%;
        height: auto;
        margin-top: 20px
    }
    .card4{
        width:80%;
        height: auto;
        margin-top: 20px
    }
    .card5{
        width:80%;
        height: auto;
        margin-top: 20px
    }
    .card6 img{
        width: 90%;
    }
    .card5 img{
        width: 90%;
    }
    .card6{
        width:80%;
        height: auto;
        margin-top: 20px
    }
    .card-section-3{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
    }
    .card7{
        width:80%;
        height: auto;
        margin-top: 20px
    }
    .card8{
        width:80%;
        height: auto;
        margin-top: 20px
    }
    .card9{
        width:80%;
        height: auto;
        margin-top: 20px
    }
    .card10{
        width:80%;
        height: auto;
        margin-top: 20px
    }
    .footer-button{
        width: 100%;
        height: 70px;
        
        margin-block: 10px;
    }
    .footer-button button{
        width: 40%;
        
    }



    






 }

